<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <title>iTwojeBanki - Logowanie</title>
</head>
<body>
<div class="form">
    <h1>Logowanie</h1>
    <form method="post" action="/admin">
        <input type="text" name="login" placeholder="Login" required/></br>
        <input type="password" name="password" placeholder="Hasło" required/></br>
        <input type="submit" value="Zaloguj się"/></br>
    </form>
</div>
</body>
</html>