<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css" type="text/css">
    <title>iTwojeBanki - System zarządzania treścią</title>
</head>
<body>
<div class="form">
    <h1>System zarządzania treścią</h1>
    <form method="post" action="/cms">
        <input type="text" name="title" placeholder="Tytuł posta" required/>
        <input type="text" name="date" placeholder="Data posta DD-MM-RRRR" required/>
        <textarea name="content" placeholder="Wpisz tutaj treść posta." required></textarea></br>
        <input type="submit" value="Dodaj post"/>
    </form>
</div>
</body>
</html>