<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>logowanie</title>
</head>
<body>
    <h1>zly login</h1>
    <a href="/index">Powrót do logowania</a>
</body>
</html>