<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="css/fontello.css"/>
    <title>.KSoftware</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".offerTileButton1").click(function(){
                $(".offerInfoTile1").css({display:"block"});
                $(".offerInfoTile1").animate({opacity : '1'});
                $(".offerInfoTile2").css({display:"none"});
                $(".offerInfoTile2").animate({opacity : '0'});
                $(".offerInfoTile3").css({display:"none"});    
                $(".offerInfoTile3").animate({opacity : '0'});  
            });
            $(".offerTileButton2").click(function(){
                $(".offerInfoTile1").css({display:"none"});
                $(".offerInfoTile1").animate({opacity : '0'});
                $(".offerInfoTile2").css({display:"block"});
                $(".offerInfoTile2").animate({opacity : '1'});
                $(".offerInfoTile3").css({display:"none"});
                $(".offerInfoTile3").animate({opacity : '0'});
            });
            $(".offerTileButton3").click(function(){
                $(".offerInfoTile1").css({display:"none"});
                $(".offerInfoTile1").animate({opacity : '0'});
                $(".offerInfoTile2").css({display:"none"});
                $(".offerInfoTile2").animate({opacity : '0'});
                $(".offerInfoTile3").css({display:"block"});
                $(".offerInfoTile3").animate({opacity : '1'});
            });
        });
    </script>
</head>
<body>
<div id="topNav">
    <div class="container80">
        <ul>
            <li><a href="#"><div class="firstLitopNav">.KSoftware</div><hr><div class="secondLitopNav">WE ARE .KSOFTWARE</div></a></li>
            <li><a href="#"><div class="firstLitopNav">o nas</div><hr><div class="secondLitopNav">ZOBACZ NASZYCH PRACOWNIKÓW</div></a></li>
            <li><a href="#"><div class="firstLitopNav">kontakt</div><hr><div class="secondLitopNav">NAPISZ DO NAS</div></a></li>
            <li><a href="#"><div class="firstLitopNav">events</div><hr><div class="secondLitopNav">3 NAJNOWSZE EVENTY</div></a></li>
        </ul>
    </div> 
</div>
<div id="topNavInfo">
    <div class="container80">
        <div class="tni1">.K</div><div class="tni2">SOFTWARE</div></br><div class="tni3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci, lacinia non vestibulum ultricies, aliquet vitae mauris. </div>
    </div>
</div>
<div class="container80">
    <div class="imgSocket1">
        <img src="assets/css/img/navimg1.jpg"/>
        <h1><div class="tni1">Od firmy</div> dla firmy</h1></br>
        <p class="textByImg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci, lacinia non vestibulum ultricies, aliquet vitae mauris. Curabitur quis consequat nisi, vitae venenatis ipsum.</p>
    </div>
    <div style="clear: both"></div>
    <div class="imgSocket2">
        <img src="assets/css/img/navimg2.jpeg"/>
        <h1><div class="tni1">Tworzymy</div> od podstaw</br>dla was</h1></br>
        <p class="textByImg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci, lacinia non vestibulum ultricies, aliquet vitae mauris. Curabitur quis consequat nisi, vitae venenatis ipsum.</p>
    </div>
</div>
<div style="clear: both"></div>
<div id="offers">
    <div class="container60">
        <div class="tni1">o</div><div class="tni2">ferta</div>
        <div class="offer">
            <div class="offerTileButton1">Produkty
                <div class="offerTileInfo">Sprawdź nasze produkty!</div>
            </div>
            <div class="offerTileButton2">Pomoc
                <div class="offerTileInfo">Napisz do nas po informacje</div>
            </div>
            <div class="offerTileButton3">Social media
                <div class="offerTileInfo">Znajdź nas na social mediach</div>
            </div>
        </div> 
        <div class="offerInfo">
            <div class="offerInfoTile1">
                <div class="tni1">N</div><div class="tni2">asze produkty</div>
                <div class="offerInfoTileIn">Produkt1</div>
                </br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="offerInfoTileIn">Produkt1</div>
                </br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="offerInfoTileIn">Produkt1</div>
                </br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="offerInfoTileIn">Produkt1</div>
                </br>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="offerInfoTile2">
                <div class="tni1">P</div><div class="tni2">omoc</div>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique pharetra eros, in pulvinar nulla elementum pellentesque. Nam ipsum quam, fringilla id mauris sed, auctor mattis libero. Duis suscipit massa quam, et tincidunt odio tristique sit amet. Proin congue libero vel posuere luctus. Nam sed feugiat quam. Etiam ornare imperdiet lectus, nec pellentesque nulla lacinia sit amet. Ut ullamcorper at metus sed luctus.
                
                Quisque ornare iaculis ante id mollis. Aenean ipsum lectus, molestie et suscipit ac, placerat suscipit tortor. Mauris nisi ligula, rutrum ac odio id, sagittis tempus tortor
            </div>
            <div class="offerInfoTile3">
                <div class="tni1">S</div><div class="tni2">ocial media</div>
                <div class="offerInfoTileIn">Facebook</div>
                </br>
                <a class="fb" href="#">facebook</a>&nbsp;napisz do nas na facebooku!
                <div class="offerInfoTileIn">Mail</div>
                </br>
                <a class="mail" href="#">test@gmail.com</a>&nbsp;napisz do nas maila!
                <div class="offerInfoTileIn">LinkedIn</div>
                </br>
                <a class="linkedin" href="#">LinkedIn</a>&nbsp;zobacz nasz linkedIn!
                <div class="offerInfoTileIn">Instagram</div>
                </br>
                <a class="ig" href="#">kSoftware</a>&nbsp;zoabcz naszego instagrama!
            </div>
        </div>
    </div>
</div>
<div style="clear: both"></div>
<div id="events">
    <div class="container60">
        <div class="tni1">e</div><div class="tni2">vents</div>
        <div class="event">
            <p class="title"><%= titles.title0 %></p>
            <p class="date"><%= dates.date0 %></p>
            <p class="content"><%= contents.content0 %></p>
        </div> 
        <div class="event">
            <p class="title"><%= titles.title1 %></p>
            <p class="date"><%= dates.date1 %></p>
            <p class="content"><%= contents.content1 %></p>
        </div>
        <div class="event">
            <p class="title"><%= titles.title2 %></p>
            <p class="date"><%= dates.date2 %></p>
            <p class="content"><%= contents.content2 %></p>
        </div> 
    </div>
</div>
<div style="clear: both"></div>
<div class="footer">
    <div class="container60">
        KSoftware, od firmy dla firmy
        <ul>
            <li><a href="#">Pomoc</a></li>
            <li><a href="#">Pomoc</a></li>
            <li><a href="#">Pomoc</a></li>
        </ul>
        <div class="footerInfo">
            2018, Wszelkie prawa zastrzeżone &copy;</br> designed by <a href="#">Konrad Jurewicz</a>
        </div>
    </div>
</div>
</html>