body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif; }

#topNav {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #17b55a; }
  #topNav ul {
    display: flex;
    list-style: none; }
  #topNav li {
    width: 10%;
    float: left;
    text-align: center;
    margin-left: 10px; }
    #topNav li hr {
      width: 40%;
      border: 0px;
      height: 1px;
      background-color: #9aaaa1;
      margin-bottom: 2px;
      margin-top: 2px; }
  #topNav .firstLitopNav {
    font-weight: 900;
    color: #d0f0de;
    transition: 1s; }
  #topNav .secondLitopNav {
    color: #c3c3c3;
    font-size: 12px; }

#topNavInfo {
  width: 60%;
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0 auto; }

.tni1 {
  float: left;
  font-size: 36px;
  color: #17b55a; }

.tni2 {
  font-size: 36px;
  color: #422E39; }

.tni3 {
  font-size: 20px;
  color: #616161; }

.imgSocket1 {
  margin-top: 50px; }
  .imgSocket1 img {
    width: 750px;
    height: 400px;
    -webkit-box-shadow: 10px 10px 42px -2px #000000bf;
    float: left; }
  .imgSocket1 h1 {
    text-align: center; }
  .imgSocket1 .textByImg {
    margin-top: -20px;
    font-size: 20px;
    text-align: center; }
  .imgSocket1 hr {
    width: 40%;
    border: 0px;
    height: 1px;
    background-color: #9aaaa1;
    margin-bottom: 2px;
    margin-top: 2px; }
  .imgSocket1 .tni1 {
    float: none; }

.imgSocket2 {
  margin-top: 100px; }
  .imgSocket2 img {
    width: 750px;
    height: 400px;
    -webkit-box-shadow: 10px 10px 42px -2px rgba(0, 0, 0, 0.75);
    float: right; }
  .imgSocket2 h1 {
    text-align: center; }
  .imgSocket2 .textByImg {
    margin-top: -20px;
    font-size: 20px;
    text-align: center; }
  .imgSocket2 hr {
    width: 40%;
    border: 0px;
    height: 1px;
    background-color: #9aaaa1;
    margin-bottom: 2px;
    margin-top: 2px; }
  .imgSocket2 .tni1 {
    float: none; }

#events {
  margin-top: 60px; }
  #events .event {
    margin-top: 80px; }
    #events .event .title {
      font-size: 24px; }
    #events .event .date {
      font-size: 18px; }
    #events .event .content {
      font-size: 20px;
      letter-spacing: 1px;
      color: #7a7a7a; }
  #events .event:hover {
    background-color: #e3e7e7; }

#offers {
  margin-top: 100px; }
  #offers .offer {
    float: left; }
    #offers .offer .offerTileButton1 {
      transition: 0.3s;
      padding: 20px;
      background-color: #17b55a;
      width: 80%;
      font-size: 24px;
      color: white;
      text-align: center;
      margin: 20px; }
      #offers .offer .offerTileButton1 .offerTileInfo {
        font-size: 14px; }
    #offers .offer .offerTileButton1:hover {
      transition: 0.3s;
      background-color: #28d36c;
      cursor: pointer; }
    #offers .offer .offerTileButton2 {
      transition: 0.3s;
      padding: 20px;
      background-color: #17b55a;
      width: 80%;
      font-size: 24px;
      color: white;
      text-align: center;
      margin: 20px; }
      #offers .offer .offerTileButton2 .offerTileInfo {
        font-size: 14px; }
    #offers .offer .offerTileButton2:hover {
      transition: 0.3s;
      background-color: #28d36c;
      cursor: pointer; }
    #offers .offer .offerTileButton3 {
      transition: 0.3s;
      padding: 20px;
      background-color: #17b55a;
      width: 80%;
      font-size: 24px;
      color: white;
      text-align: center;
      margin: 20px; }
      #offers .offer .offerTileButton3 .offerTileInfo {
        font-size: 14px; }
    #offers .offer .offerTileButton3:hover {
      transition: 0.3s;
      background-color: #28d36c;
      cursor: pointer; }
  #offers .offerInfo {
    width: 60%;
    float: right;
    text-align: justify;
    border: 2px solid #17b55a;
    margin: 20px;
    padding: 10px; }
    #offers .offerInfo .offerInfoTile1 {
      display: block;
      opacity: 1; }
    #offers .offerInfo .offerInfoTile2 {
      display: none;
      opacity: 0; }
    #offers .offerInfo .offerInfoTile3 {
      display: none;
      opacity: 0; }
    #offers .offerInfo .offerInfoTileIn {
      border-left: 2px solid #17b55a;
      font-size: 20px;
      margin-top: 5px; }
    #offers .offerInfo p {
      font-size: 18px;
      margin-top: -10px;
      padding-left: 30px; }
    #offers .offerInfo a {
      color: black; }
    #offers .offerInfo .fb {
      background-color: #4867AA;
      color: white;
      margin-left: 30px;
      padding: 5px;
      margin-bottom: 10px; }
    #offers .offerInfo .mail {
      background-color: #E06C6A;
      color: white;
      margin-left: 30px;
      padding: 5px;
      margin-bottom: 10px; }
    #offers .offerInfo .linkedin {
      background-color: #0177B5;
      color: white;
      margin-left: 30px;
      padding: 5px;
      margin-bottom: 10px; }
    #offers .offerInfo .ig {
      background-color: #A634B6;
      color: white;
      margin-left: 30px;
      padding: 5px;
      margin-bottom: 10px; }

.form {
  margin: 0 auto;
  text-align: center;
  background-color: #17b55a;
  width: 20%;
  padding: 20px; }
  .form input {
    border: 2px solid #17b55a;
    padding: 10px;
    background-color: white;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif; }
  .form textarea {
    width: 300px;
    height: 300px;
    resize: none;
    font-family: 'Open Sans', sans-serif; }

a {
  text-decoration: none; }

.container80 {
  margin: 0 auto;
  width: 80%; }

.container60 {
  margin: 0 auto;
  width: 60%; }

.footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #1c242c;
  color: #c8c7c7;
  font-size: 20px; }
  .footer ul {
    list-style: none;
    display: flex; }
    .footer ul li {
      margin-right: 15px; }
  .footer .footerInfo {
    font-size: 15px;
    color: #868686; }
    .footer .footerInfo a {
      color: #868686;
      border-bottom: 1px solid #868686;
      font-size: 15px; }
  .footer a {
    color: #c8c7c7;
    border-bottom: 1px solid #c8c7c7;
    font-size: 18px; }

@media screen and (max-width: 1395px) {
  #offers .offer {
    width: 25%; }
  #offers .offerInfo {
    width: 60%;
    float: right;
    text-align: justify;
    border: 2px solid #17b55a;
    margin: 20px;
    padding: 10px; }
    #offers .offerInfo .offerInfoTile1 {
      display: block;
      opacity: 1; }
    #offers .offerInfo .offerInfoTile2 {
      display: none;
      opacity: 0; }
    #offers .offerInfo .offerInfoTile3 {
      display: none;
      opacity: 0; }
    #offers .offerInfo .offerInfoTileIn {
      border-left: 2px solid #17b55a;
      font-size: 20px;
      margin-top: 5px; } }
@media screen and (max-width: 1250px) {
  .imgSocket1 img {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 25px; }

  .imgSocket2 img {
    width: 100%;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 25px; }

  #offers .offer {
    width: 25%; }
    #offers .offer .offerTileButton1 .offerTileInfo {
      font-size: 12px; }
    #offers .offer .offerTileButton2 .offerTileInfo {
      font-size: 12px; }
    #offers .offer .offerTileButton3 {
      transition: 0.3s;
      padding: 20px;
      background-color: #17b55a;
      width: 80%;
      font-size: 24px;
      color: white;
      text-align: center;
      margin: 20px; }
      #offers .offer .offerTileButton3 .offerTileInfo {
        font-size: 14px; }
  #offers .offerInfo {
    width: 60%;
    float: right;
    text-align: justify;
    border: 2px solid #17b55a;
    margin: 20px;
    padding: 10px; } }
@media screen and (max-width: 1000px) {
  #topNav {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #17b55a; }
    #topNav ul {
      list-style: none; }
    #topNav li {
      width: 15%;
      float: left;
      text-align: center;
      margin-left: 10px; }
      #topNav li hr {
        width: 40%;
        border: 0px;
        height: 1px;
        background-color: #9aaaa1;
        margin-bottom: 2px;
        margin-top: 2px; }
    #topNav .firstLitopNav {
      font-weight: 900;
      color: #d0f0de;
      transition: 1s; }
    #topNav .secondLitopNav {
      color: #c3c3c3;
      font-size: 10px; }

  #offers .offer {
    width: 20%; }
    #offers .offer .offerTileButton1 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton1 .offerTileInfo {
        font-size: 12px; }
    #offers .offer .offerTileButton2 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton2 .offerTileInfo {
        font-size: 12px; }
    #offers .offer .offerTileButton3 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton3 .offerTileInfo {
        font-size: 12px; }
  #offers .offerInfo {
    width: 60%;
    float: right;
    text-align: justify;
    border: 0px solid #17b55a;
    margin: 20px;
    padding: 10px;
    font-size: 16px; }
    #offers .offerInfo .offerInfoTileIn {
      font-size: 16px; }
    #offers .offerInfo p {
      font-size: 14px; }
    #offers .offerInfo a {
      display: block; } }
@media screen and (max-width: 650px) {
  #topNav {
    height: 300px; }
    #topNav ul {
      list-style: none;
      margin-left: -45px;
      display: block; }
    #topNav li {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      margin-left: 0px;
      margin-right: 10px; }
      #topNav li .firstLitopNav {
        font-size: 14px; }

  #offers .offer {
    width: 100%; }
    #offers .offer .offerTileButton1 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton1 .offerTileInfo {
        font-size: 12px; }
    #offers .offer .offerTileButton2 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton2 .offerTileInfo {
        font-size: 12px; }
    #offers .offer .offerTileButton3 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton3 .offerTileInfo {
        font-size: 12px; }
  #offers .offerInfo {
    width: 84%;
    margin: 0 auto;
    text-align: justify;
    border: 0px solid #17b55a;
    margin: 20px;
    padding: 10px;
    font-size: 16px; }
    #offers .offerInfo .offerInfoTileIn {
      font-size: 16px; }
    #offers .offerInfo p {
      font-size: 14px; }
    #offers .offerInfo a {
      display: block; }

  .imgSocket1 img {
    height: 250px; }

  .imgSocket2 img {
    height: 250px; } }
@media screen and (max-width: 480px) {
  #topNav {
    height: 300px; }
    #topNav ul {
      list-style: none;
      margin-left: -45px;
      display: block; }
    #topNav li {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      margin-left: 0px;
      margin-right: 10px; }
      #topNav li .firstLitopNav {
        font-size: 14px; }

  #offers .offer {
    width: 85%; }
    #offers .offer .offerTileButton1 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton1 .offerTileInfo {
        font-size: 12px; }
    #offers .offer .offerTileButton2 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton2 .offerTileInfo {
        font-size: 12px; }
    #offers .offer .offerTileButton3 {
      font-size: 15px;
      padding: 15px; }
      #offers .offer .offerTileButton3 .offerTileInfo {
        font-size: 12px; }
  #offers .offerInfo {
    width: 77%;
    margin: 0 auto;
    text-align: justify;
    border: 0px solid #17b55a;
    margin: 20px;
    padding: 10px;
    font-size: 16px; }
    #offers .offerInfo .offerInfoTileIn {
      font-size: 16px; }
    #offers .offerInfo p {
      font-size: 14px; }
    #offers .offerInfo a {
      display: block; } }
@media screen and (max-width: 350px) {
  .imgSocket1 img {
    height: 200px;
    width: 100%; }

  .imgSocket2 img {
    height: 200px; }

  .footer ul li a {
    font-size: 12px; }

  #offers .offer {
    width: 81%; }
  #offers .offerInfo {
    width: 70%; }
    #offers .offerInfo .offerInfoTile1 .tni1 {
      font-size: 28px; }
    #offers .offerInfo .offerInfoTile1 .tni2 {
      font-size: 28px; }
    #offers .offerInfo .offerInfoTile2 .tni1 {
      font-size: 28px; }
    #offers .offerInfo .offerInfoTile2 .tni2 {
      font-size: 28px; }
    #offers .offerInfo .offerInfoTile3 .tni1 {
      font-size: 28px; }
    #offers .offerInfo .offerInfoTile3 .tni2 {
      font-size: 28px; } }

/*# sourceMappingURL=style.css.map */
