@mixin container60()
{
    margin: 0 auto;
    width: 60%;
}
@mixin container80()
{
    margin: 0 auto;
    width: 80%;
}
@mixin hr1()
{
    width: 40%;
    border: 0px;
    height: 1px;
    background-color: #9aaaa1;
    margin-bottom: 2px;
    margin-top: 2px;
}
@mixin offerTileButton()
{
    padding: 20px;
    background-color: #17b55a;
    width: 80%;
    font-size: 24px;
    color: white;
    text-align: center;
    margin: 20px;
}