body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #0e1c25; }

#nav {
  width: 100%;
  background-image: url("../img/navPhoto.jpg");
  background-size: 100%;
  background-attachment: fixed;
  margin-top: -15px;
  border-bottom: 1px solid #abb2bb; }
  #nav ul {
    padding-top: 10px;
    padding-bottom: 15px;
    list-style: none; }
  #nav li:first-child {
    font-size: 20px; }
  #nav li {
    float: left;
    padding-right: 15px; }
  #nav li:last-child {
    float: right;
    border-left: 3px solid #4267b2; }

.container60 {
  margin: 0 auto;
  width: 60%; }

.container100 {
  margin: 0 auto;
  width: 100%; }

.hr100 {
  border: 0px;
  height: 2px;
  margin: 0 auto;
  width: 100%;
  background-color: #2f3542;
  margin-top: 5px; }

a {
  text-decoration: none;
  color: #f1f2f6; }

.navInfo {
  flex-wrap: nowrap;
  display: flex;
  width: 100%;
  box-shadow: 0px 6px 23px -9px rgba(0, 0, 0, 0.75); }

.navInfoIn {
  margin: 0 auto;
  width: 30%;
  margin: 0 auto;
  color: #f1f2f6;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.pbig {
  text-align: center;
  font-size: 32px;
  font-weight: bold; }

#content {
  width: 100%;
  background-color: #0e1c25;
  color: white;
  padding: 20px 0px 20px 0px; }

/*# sourceMappingURL=style.css.map */
