@import "_mixins.scss";
body{margin:0px; padding: 0px;font-family: 'Open Sans', sans-serif;}
#topNav
{
    width:100%;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: #17b55a;
    ul
    {
        display: flex;
        list-style: none;
    }
    li
    {
        width: 10%;
        float: left;
        text-align: center;
        margin-left: 10px;
        hr
        {
            @include hr1();
        }
    }
    .firstLitopNav
    {
        font-weight: 900;
        color:#d0f0de;
        transition: 1s;
    }
    .secondLitopNav
    {
        color: #c3c3c3;
        font-size: 12px;
        //border-top: 1px solid gray;
    }
}
#topNavInfo
{
    width: 60%;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
}
.tni1
{
    float: left;
    font-size: 36px;
    color: #17b55a;
}
.tni2
{
    font-size: 36px;
    color: #422E39;
}
.tni3
{
    font-size: 20px;
    color: #616161;
}
.imgSocket1
{
    margin-top: 50px;    
    img
    {
        width: 750px;
        height: 400px;
        -webkit-box-shadow: 10px 10px 42px -2px #000000bf;    
        float: left;
    }
    h1
    {
        text-align: center;
    }
    .textByImg
    {
        margin-top: -20px;
        font-size: 20px;
        text-align: center;
    }
    hr
    {
        @include hr1();
    }
    .tni1
    {
        float: none;
    }
}
.imgSocket2
{
    margin-top: 100px;    
    img
    {
        width: 750px;
        height: 400px;
        -webkit-box-shadow: 10px 10px 42px -2px rgba(0,0,0,0.75);    
        float: right;
    }
    h1
    {
        text-align: center;
    }
    .textByImg
    {
        margin-top: -20px;
        font-size: 20px;
        text-align: center;
    }
    hr
    {
        @include hr1();
    }
    .tni1
    {
        float: none;
    }
}
#events
{
    margin-top: 60px;
    .event
    {
        margin-top: 80px;
        .title
        {
            font-size: 24px;
        }
        .date
        {
            font-size: 18px;
        }
        .content
        {
            font-size: 20px;
            letter-spacing: 1px;
            color: #7a7a7a;
        }
    }
    .event:hover
    {
        background-color: #e3e7e7;
    }
}
#offers
{
    margin-top: 100px; 
    .offer
    {
        float: left;
        .offerTileButton1
        {
            transition: 0.3s;
            @include offerTileButton();
            .offerTileInfo
            {
                font-size: 14px;
            }
        }
        .offerTileButton1:hover
        {
            transition: 0.3s;
            background-color: #28d36c;
            cursor: pointer;
        }
        .offerTileButton2
        {
            transition: 0.3s;
            @include offerTileButton();
            .offerTileInfo
            {
                font-size: 14px;
            }
        }
        .offerTileButton2:hover
        {
            transition: 0.3s;
            background-color: #28d36c;
            cursor: pointer;
        }
        .offerTileButton3
        {
            transition: 0.3s;
            @include offerTileButton();
            .offerTileInfo
            {
                font-size: 14px;
            }
        }
        .offerTileButton3:hover
        {
            transition: 0.3s;
            background-color: #28d36c;
            cursor: pointer;
        }
    }
    .offerInfo
    {
        width: 60%;
        float: right;
        text-align: justify;
        border: 2px solid #17b55a;
        margin: 20px;
        padding: 10px;
        .offerInfoTile1
        {
            display: block;
            opacity: 1;
        }
        .offerInfoTile2
        {
            display: none;
            opacity: 0;
        }
        .offerInfoTile3
        {
            display: none;
            opacity: 0;
        }
        .offerInfoTileIn
        {
            border-left: 2px solid #17b55a;
            font-size: 20px;
            margin-top: 5px;
        }
        p
        {
            font-size: 18px;
            margin-top: -10px;
            padding-left: 30px;
        }
        a
        {
            color: black;
        }
        .fb
        {
            background-color:#4867AA;
            color: white;
            margin-left: 30px;
            padding: 5px;
            margin-bottom: 10px;
        }
        .mail
        {
            background-color:#E06C6A;
            color: white;
            margin-left: 30px;
            padding: 5px;
            margin-bottom: 10px;
        }
        .linkedin
        { 
            background-color:#0177B5;
            color: white;
            margin-left: 30px;
            padding: 5px;
            margin-bottom: 10px;
        }
        .ig
        { 
            background-color:#A634B6;
            color: white;
            margin-left: 30px;
            padding: 5px;
            margin-bottom: 10px;
        }
    }
}
.form
{
    margin: 0 auto;
    text-align: center;
    background-color: #17b55a;
    width: 20%;
    padding: 20px;
    input 
    {
        border: 2px solid #17b55a;
        padding: 10px;
        background-color: white;
        margin-top: 10px;
        font-family: 'Open Sans', sans-serif;
    }
    textarea
    {
        width: 300px;
        height: 300px;
        resize: none;
        font-family: 'Open Sans', sans-serif;
    }
}
a
{
    text-decoration: none;
}
.container80
{
    @include container80();
}
.container60
{
    @include container60();
}
.footer
{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1c242c;
    color: #c8c7c7;
    font-size: 20px;
    ul
    {
        list-style: none;
        display: flex;
        li
        {
            margin-right: 15px;
        }
    }
    .footerInfo
    {
        font-size: 15px;
        color: #868686;
        a
        {
            color: #868686;
            border-bottom: 1px solid #868686;
            font-size: 15px;
        }
    }
    a
    {
        color: #c8c7c7;
        border-bottom: 1px solid #c8c7c7;
        font-size: 18px;
    }
}
@media screen and(max-width: 1395px)
{
    #offers
    {
        .offer
        {
            width: 25%;
        }
        .offerInfo
        {
            width: 60%;
            float: right;
            text-align: justify;
            border: 2px solid #17b55a;
            margin: 20px;
            padding: 10px;
            .offerInfoTile1
            {
                display: block;
                opacity: 1;
            }
            .offerInfoTile2
            {
                display: none;
                opacity: 0;
            }
            .offerInfoTile3
            {
                display: none;
                opacity: 0;
            }
            .offerInfoTileIn
            {
                border-left: 2px solid #17b55a;
                font-size: 20px;
                margin-top: 5px;
            }
        }   
    } 
}
@media screen and(max-width:1250px)
{
    .imgSocket1
    {  
        img
        {
            width: 100%;
            height: 400px;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }
    .imgSocket2
    {   
        img
        {
            width: 100%;
            height: 400px;
            margin: 0 auto;
            margin-bottom: 25px;
        }
    }
    #offers
    {
        .offer
        {
            width: 25%;
            .offerTileButton1
            {
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton2
            {
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton3
            {
                transition: 0.3s;
                @include offerTileButton();
                .offerTileInfo
                {
                    font-size: 14px;
                }
            }
        }
        .offerInfo
        {
            width: 60%;
            float: right;
            text-align: justify;
            border: 2px solid #17b55a;
            margin: 20px;
            padding: 10px;
        }
    }
}
@media screen and(max-width:1000px)
{
    #topNav
    {
        width:100%;
        padding-top:10px;
        padding-bottom: 10px;
        background-color: #17b55a;
        ul
        {
            list-style: none;
        }
        li
        {
            width: 15%;
            float: left;
            text-align: center;
            margin-left: 10px;    
            hr
            {
                @include hr1();
            }
        }
        .firstLitopNav
        {
            font-weight: 900;
            color:#d0f0de;
            transition: 1s;
        }
        .secondLitopNav
        {
            color: #c3c3c3;
            font-size: 10px;
            //border-top: 1px solid gray;
        }
    }
    #offers
    {
        .offer
        {
            width: 20%;
            .offerTileButton1
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton2
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton3
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
        }
        .offerInfo
        {
            width: 60%;
            float: right;
            text-align: justify;
            border: 0px solid #17b55a;
            margin: 20px;
            padding: 10px;
            font-size: 16px;
            .offerInfoTileIn
            {
                font-size: 16px;
               
            }
            p
            {
                font-size: 14px;
            }
            a
            {
                display: block;
            }
        }
    }
}
@media screen and(max-width:650px)
{
    #topNav
    {
        height: 300px;
        ul
        {
            list-style: none;
            margin-left: -45px;
            display: block;
        }
        li
        {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            margin-left: 0px;
            margin-right: 10px;  
            .firstLitopNav
            {
                font-size: 14px;
            }   
        }
    }
    #offers
    {
        .offer
        {
            width: 100%;
            .offerTileButton1
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton2
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton3
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
        }
        .offerInfo
        {
            width: 84%;
            margin: 0 auto;
            text-align: justify;
            border: 0px solid #17b55a;
            margin: 20px;
            padding: 10px;
            font-size: 16px;
            .offerInfoTileIn
            {
                font-size: 16px;
               
            }
            p
            {
                font-size: 14px;
            }
            a
            {
                display: block;
            }
        }
    }
    .imgSocket1
    {
        img
        {
            height: 250px;
        }
    }
    .imgSocket2
    {  
        img
        {
            height: 250px;
        }
    }
}
@media screen and(max-width:480px)
{
    #topNav
    {
        height: 300px;
        ul
        {
            list-style: none;
            margin-left: -45px;
            display: block;
        }
        li
        {
            width: 100%;
            text-align: center;
            margin-top: 20px;
            margin-left: 0px;
            margin-right: 10px;  
            .firstLitopNav
            {
                font-size: 14px;
            }   
        }
    }
    #offers
    {
        .offer
        {
            width: 85%;
            .offerTileButton1
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton2
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
            .offerTileButton3
            {
                font-size: 15px;
                padding: 15px;
                .offerTileInfo
                {
                    font-size: 12px;
                }
            }
        }
        .offerInfo
        {
            width: 77%;
            margin: 0 auto;
            text-align: justify;
            border: 0px solid #17b55a;
            margin: 20px;
            padding: 10px;
            font-size: 16px;
            .offerInfoTileIn
            {
                font-size: 16px;
               
            }
            p
            {
                font-size: 14px;
            }
            a
            {
                display: block;
            }
        }
    }
}
@media screen and(max-width:350px)
{
    .imgSocket1
    {
        img
        {
            height: 200px;
            width: 100%;
        }
    }
    .imgSocket2
    {  
        img
        {
            height: 200px;
        }
    }
    .footer
    {
        ul
        {
            li
            {
                a
                {
                    font-size: 12px;

                }
            }
        }
    }
    #offers
    {
        .offer
        {
            width: 81%;
        }
        .offerInfo
        {
            width: 70%;
            .offerInfoTile1
            {
                .tni1
                {
                    font-size: 28px;
                }
                .tni2
                {
                    font-size: 28px;
                }
            }
            .offerInfoTile2
            {
                .tni1
                {
                    font-size: 28px;
                }
                .tni2
                {
                    font-size: 28px;
                }
            }
            .offerInfoTile3
            {
                .tni1
                {
                    font-size: 28px;
                }
                .tni2
                {
                    font-size: 28px;
                }
            }
        }
    }
}